<section class="container">
    <h1 class="text-center display-6 text-warning">VEÍCULOS PRESENTES NO ESTACIONAMENTO</h1>
  
    <div class="container-fluid mb-4 row row-cols-1 row-cols-md-3 g-4">
        {{#each dados}}
    <!--Cada dado, mutiplicando a quantidade de produtos-->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                <h5 class="card-title">{{dataValues.id}} {{dataValues.placa}} - {{dataValues.modelo}}</h5>
                <p class="card-text m-0">Data de Entrada: {{dataValues.dataEntrada}}</p>
                <p class="card-text m-0">Data de Saída: {{dataValues.dataSaida}}</p>
                <p class="card-text m-0">Preço: <p id="resultado"></p></p>
                </div>

                <div class="card-footer text-body-secondary">
                <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{dataValues.id}}">Excluir</a>
                </div>
            </div>
        </div>
        {{else}}
        <p class="text-light">Nenhum produto cadastrado ainda.</p>
        {{>modalDelete idItem=dataValues.id}}
        {{/each}}  
    </div>

</section>